<div class="container">
  <%= form_with model: @user, local:true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="field">
		    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size:"300x300" %>
		    <%= f.attachment_field :profile_image, id: :image %>
		　</div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :introduction %>
        <%= f.text_field :introduction, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "更新" %>
      </div>

      <%= link_to "退会する", hide_user_path(@user), method: :put, "data-confirm" => "本当に退会しますか？" %>

    </div>
  </div>
  <% end %>
</div>