<div class="container">
  <div class="edit-prof">
    <h2>Edit Your Profile</h2>
  </div>
  <%= form_with model: @user, local:true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="row">
    <div class="col-md-6">
      <div class="field">
		    <p><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size:"300x300", class:"rounded-circle"; %></p>
		    <p><%= f.attachment_field :profile_image, id: :image %></p>
		　</div>
    </div>

    <div class="col-md-6">
      <table class="form-field">
        <tr>
          <th><%= f.label :name %></th>
          <th class="value"><%= f.text_field :name, autofocus: true %></th>
        </tr>
        <tr>
          <th><%= f.label :introduction %></th>
          <th class="value"><%= f.text_field :introduction, autofocus: true %></th>
        </tr>
        <tr>
          <th><%= f.label :email %><br /></th>
          <th class="value"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </tr>
      </table>
      <div class="submit-btn">
        <p><%= f.submit "Update" %></p>
      </div>
    </div>
  </div>
  <div class="withdraw">
    <h2>Or Delete Your Account</h2>
    <%= link_to hide_user_path(@user), method: :put, "data-confirm" => "本当に退会しますか？", class:"text-dark" do %>
      <i class="fas fa-user-slash"></i>
    <% end %>
  </div>
  <% end %>
</div>