<div class="container">
  <div class="profile">
    <div class="profile-image">
      <p><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100", class:"rounded-circle"; %></p>
    </div>
    <div class="user-name">
      <h5><%= @user.name %></h5>
      <% if @user == current_user %>
        <h5>
          <%= link_to edit_user_path, class:"text-dark" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </h5>
      <% else %>
        <h5 id="follow-btn_<%= @user.id %>">
          <% if user_signed_in? %>
            <%= render 'relationships/follow-btn', user: @user %>
          <% end %>
        </h5>
      <% end %>
    </div>
    <div class="introduction">
      <h5>Introduction</h5>
      <p><%= @user.introduction %></p>
    </div>
    <div class="relationships">
      <% if @user == current_user %>
        <h5><%= link_to "follower", followers_user_path(@user.id), class:"text-dark" %></h5>
        <h5><%= link_to "following", follows_user_path(@user.id), class:"text-dark" %></h5>
      <% end %>
    </div>
  </div>

  <ul class="tabnav">
    <li><a href="#tab1"></a></li>
    <li><a href="#tab2"></a></li>
  </ul>

  <div class="tabcontent">
    <div id="tab1">
      <h4>投稿一覧</h4>
      <div class="row">
        <%= render "post_images/index", post_images: @post_images %>
      </div>
    </div>

    <div id="tab2">
      <% if user_signed_in? %>
      <h4>Favorites_list</h4>
      <div class="row">
        <%= render "post_images/index", post_images: @favorites_list %>
      </div>
      <% end %>
    </div>
  </div>
</div>