<div class="container">
  <div class="profile">
    <div class="profile-image">
      <p><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100", class:"rounded-circle"; %></p>
    </div>
    <div class="user-name">
      <h5><%= @user.name %></h5>
      <% if @user == current_user %>
        <h5>
          <%= link_to edit_user_path, class:"text-dark" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </h5>
      <% else %>
        <h5 id="follow-btn_<%= @user.id %>">
          <% if user_signed_in? %>
            <%= render 'relationships/follow-btn', user: @user %>
          <% end %>
        </h5>
      <% end %>
    </div>
    <div class="introduction">
      <h5>Introduction</h5>
      <p><%= @user.introduction %></p>
    </div>
    <div class="relationships">
      <% if @user == current_user %>
        <h5><%= link_to "follower", followers_user_path(@user.id), class:"text-dark" %></h5>
        <h5><%= link_to "following", follows_user_path(@user.id), class:"text-dark" %></h5>
      <% end %>
    </div>
  </div>

 <div class="wrap">
    <ul id="tab-menu">
      <li><a href="#tab1" class="active">Posts</a></li>
      <% if user_signed_in? %>
      <li><a href="#tab2" class="">Favorites</a></li>
      <% end %>
      <li><a href="#tab3" class="">Albums</a></li>
    </ul>

    <div id="tab-contents">
      <div id="tab1" class="tab">
        <div class="row">
          <%= render "post_images/index", post_images: @post_images %>
        </div>
      </div>

      <div id="tab2" class="tab">
        <div class="row">
          <%= render "post_images/index", post_images: @favorites_list %>
        </div>
      </div>

      <div id="tab3" class="tab">
        <div class="row">
          <% @albums.each do |album| %>
          <div class="album">
            <%= link_to album_path(album) do %>
            <div class="album-body">
              <% if album.post_images.present? %>
                <% album.post_images.first(4).each do |image| %>
                  <%= attachment_image_tag image, :post_image, class: "default_image", size:"150x150" %>
                <% end %>
              <% else %>
                画像はありません。
              <% end %>
            </div>
            <% end %>
            <div class="album-text">
              <span class="album-title"><%= album.title %></span>
              <% if @user == current_user %>
                <span class="album-delete"><%= link_to "削除", album_path(album), method: :delete, data: {confirm: "本当に削除しますか？"} %></span>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>