<div class="container">
  <%= form_with model: @user, url: admins_user_path, local:true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="field">
		    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size:"300x300" %>
		　</div>
    </div>

    <div class="col-md-6">
      <p>Name：<%= @user.name %></p>
      <p>Introduction：<%= @user.introduction %></p>
      <div>
        <%= f.radio_button :delete_flag, :false %>
        <%= f.label :delete_flag, "有効会員" %>
        <%= f.radio_button :delete_flag, true %>
        <%= f.label :delete_flag, "退会済み" %>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    </div>
  </div>
  <% end %>
</div>