<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-md-3">
      <p><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></p>
      <p>Name：<%= @user.name %>
      <% if @user.delete_flag == false %>
      <p>Status：有効会員</p>
      <% else %>
      <p>Status：退会済み</p>
      <% end %>
        <span><%= link_to "Edit", edit_admins_user_path(@user) %></span>
      </p>
    </div>
  </div>
  <div id="follow-btn">
    <% if @user == current_user %>
    <div class="row">
      <div class="col-md-6">
        <p><%= link_to "follower", followers_user_path(@user.id) %></p>
      </div>
      <div class="col-md-6">
        <p><%= link_to "following", follows_user_path(@user.id) %></p>
      </div>
    </div>
    <% end %>
  </div>
  <p>Introduction</p>
  <div class="row">
    <div class="col-md-10 border">
      <%= @user.introduction %>
    </div>
  </div>

  <div class="row">
    <% @post_images.each do |post| %>
      <div>
        <%= link_to admins_post_image_path(post) do %>
          <%= attachment_image_tag post, :post_image, size:"200x200" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>