<%= form_for(@album, url: albums_path) do |f| %>
<div class="contaier">
  <div class="album-info">
    <p class="text-center">
      ※アルバム作成の際にアップロードされた写真にはAIによる画像処理機能により自動でラベルが発行されます。<br>
      付与されたラベルは写真の編入画面にてご自身で変更することが可能です。
    </p>
  </div>
  <table class="mx-auto" style="height: 500px;">
    <tbody>
      <tr>
        <td>Image</td>
        <td><%= f.attachment_field :post_images_post_images, multiple: true %></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><%= f.text_field :title, autofocus: true %></td>
      </tr>
      <tr>
        <td>Content</td>
        <td><%= f.text_field :content, autofocus: true %></td>
      </tr>
      <tr>
        <td><%= f.submit "Upload", class: "btn btn-primary" %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>