<!DOCTYPE html>
<html>
  <head>
    <title>ToLabel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <nav class="navbar bg-light">
        <div class="container">
          <i class="fas fa-bars header__icon"></i>
          <% if admin_signed_in? %>
            <li>Logo</li>
          <% else %>
            <ul class="navbar ml-auto">
              <li><%= link_to "Popular", popular_path, class:"text-dark" %></li>
              <li><%= link_to "Logo", root_path, class:"text-dark" %></li>
              <li><%= link_to "New", new_posts_path, class:"text-dark" %></li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="text-center"><%= flash[:notice] %></div>
    <div class="text-center"><%= flash[:error] %></div>
    <div class="text-center"><%= flash[:email] %></div>
    <%= yield %>
    <aside class="sidebar">
      <div class="sidebar__inner">
        <h4 class="sidebar__ttl">Menu</h4>
        <i class="fas fa-times-circle sidebar__icon"></i>
      </div>
      <ul class="sidebar-list">
      <% if user_signed_in? %>
        <li class="sidebar-txt"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <li class="sidebar-txt"><%= link_to "Create Post", new_post_image_path %></li>
        <li class="sidebar-txt"><%= link_to "My Page", user_path(current_user.id) %></li>
        <li class="sidebar-txt"><%= link_to "Contact Us", new_inquiry_path %></li>
      <% elsif admin_signed_in? %>
        <li class="sidebar-txt"><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></li>
        <li class="sidebar-txt"><%= link_to "Users", admins_users_path %></li>
        <li class="sidebar-txt"><%= link_to "Posts", admins_post_images_path %></li>
      <% else %>
        <li class="sidebar-txt"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li class="sidebar-txt"><%= link_to "Log In", new_user_session_path %></li>
        <li class="sidebar-txt"><%= link_to "About", about_path %></li>
      <% end %>
      </ul>
    </aside>
    <div class="sidebar-bg"></div>
  </body>
</html>
